# Unix
*.sh
*.out
*.bat

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# MVSC files
*.opensdf
*.suo
*.sdf
*.vcxproj
*.filters
*.tlog
*.idb
*.pdb
*.ilk
*.user
*.log
*.sln
SFML-2.2
objet
bin